:root {
    --primary-color: #4169E1;
    --accent-color: #FF6F61;
    --neutral-light: #E9ECEF;
    --neutral-dark: #333333;
    --secondary-accent: #DAA520;

    --dark-background: #333;
    --dark-neutral-light: #D1D5DB;
    --dark-background-highlight: #1E1E2E;
    --hover-primary-color: #4682FF;
    --shadow-glow: #3A7BF6;
}

body {
    background-image: url("./assets/coding_background.jpg");
    background-size: cover;
    background-position: center top;
}

.border-custom {
    border: ridge 5px var(--primary-color);
    border-radius: 5px;
}

.dark {
    background-color: var(--dark-background);
    opacity: .8;
    color: var(--dark-neutral-light);
}

.dark h1, .dark h2, .dark h3, .dark p, .dark div {
    
    text-shadow: 2px 2px 3px var(--dark-background-highlight);
}

.light {
    background-color: var(--neutral-light);
    opacity: .8;
    color: var(--neutral-dark);
}

.light h1, .light h2, .light h3, .light p {
    
    text-shadow: 2px 2px 8px var(--shadow-glow);
}

.btn {
    background-color: var(--primary-color);
    font-weight: bold;
    margin: 5px;
}

.resume-section {
    margin: 1px;
}

.nav-item > a {
    color: var(--secondary-accent);
}

.link-underline {
    color: var(--accent-color);
}

.card {
    background-color: var(--primary-color);
    box-shadow: 5px 5px 5px var(--shadow-glow);
}

.card .card-link {
    background-color: var(--dark-neutral-light);
}

h1, h2, h3 {
    color: var(--primary-color);
}